[project]
	description = emacs shimbun files for newspapers
[access "refs/*"]
	owner = group user/jrbalderrama (jrbalderrama)
[access "refs/for/refs/*"]
	read = group user/jrbalderrama (jrbalderrama)
	push = group user/jrbalderrama (jrbalderrama)
	label-Code-Review = -2..+2 group user/jrbalderrama (jrbalderrama)
	label-Verified = -1..+1 group user/jrbalderrama (jrbalderrama)
	rebase = group user/jrbalderrama (jrbalderrama)
	removeReviewer = group user/jrbalderrama (jrbalderrama)
	submit = group user/jrbalderrama (jrbalderrama)
[access "refs/heads/*"]
	read = group user/jrbalderrama (jrbalderrama)
	create = group user/jrbalderrama (jrbalderrama)
	push = +force group user/jrbalderrama (jrbalderrama)
	pushMerge = group user/jrbalderrama (jrbalderrama)
[access "refs/tags/*"]
	push = +force group user/jrbalderrama (jrbalderrama)
	pushTag = group user/jrbalderrama (jrbalderrama)
	pushSignedTag = group user/jrbalderrama (jrbalderrama)
